:root {
    --font-sans: "Clash Grotesk", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}